@import "../../varibles.scss";

/******************************/

.services{
    padding: $section-padding;
    .title{
        text-align: start;
    }
    .services-carousel{
        width: 100%;
        margin-top: 10vw;
        .card{
            background-color: $primary;
            border-radius: 20px;
            box-shadow: $primary 0 0 20px 5px;
            margin: 0 auto;
            padding: 1vw;
            width: 400px;
            .header{
                display: flex;
                flex-direction: column;
                .card-icon{
                    width: 60%;
                    margin: 0 auto;
                    img{
                        width: 100%;
                    }
                }
                h6{
                    margin-top: 1vw;
                    text-align: center;
                    font-size: 1.2vw;
                    font-weight: bold;
                }
            }
            .content{
                padding: $section-padding $section-padding/2;
                p{
                    font-size: 1vw;
                    text-align: center;
                }
            }
        }
    }
}