<section class="contactUs">
    <div class="contactUs-container">
        <div class="logo">
            <img src="{{contact.logo}}" alt="Logo">
        </div>
        <div class="text">
            <p>
                <span class="container-title">
                    CONTÁCTENOS
                </span><br>
                {{contact.information.link}}<br>
                {{contact.information.phone}}<br>
                {{contact.information.email}}<br>
            </p>
        </div>
        <div class="social">
            <div class="facebook">
                <img src="../../assets/images/facebook.svg" alt="Facebook - Icon">
            </div>
            <div class="linkedIn">
                <img src="../../assets/images/linkedIn.svg" alt="LinkedIn - Icon">
            </div>
            <div class="google-plus">
                <img src="../../assets/images/google-plus.svg" alt="Google Plus - Icon">
            </div>
        </div>
    </div>
</section>