/*Images*/
@import '../../varibles.scss';
/***********************/
.welcome {
  position: relative;
  height: 100vh;
  .welcome-backgroud {
    display: flex;
    height: 100%;
    background-image: url("../../assets/images/welcome-background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    .background-opacity {
      background-color: black;
      height: 100%;
      width: 100%;
      opacity: 0.6;
      position: absolute;
    }
    .welcome-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-items: center;
      .welcome-title {
        text-align: center;
        font-weight: bold;
        color: $primary;
        text-transform: uppercase;
        font-size: 7vw;
      }
      .welcome-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10vw 5vw;
      }
    }
  }
}
/***********************/
@media (max-width: 1330px){
  .welcome{
    .welcome-backgroud{
      .welcome-content{
        .welcome-buttons{
          .button{
            padding: 1vw 5vw;
          }
        }
      }
    }
  }
}
@media (max-width: 1330px){
  .welcome{
    .welcome-backgroud{
      .welcome-content{
        .welcome-buttons{
          .button{
            padding: 1vw 3vw;
          }
        }
      }
    }
  }
}
@media (max-width: 970px){
  .welcome{
    .welcome-backgroud{
      .welcome-content{
        .welcome-buttons{
          margin: 10vw 0;
          .button{
            font-size: 2vw;
          }
        }
      }
    }
  }
}
@media (max-width: $layout-slidebar){
  .welcome{
    .welcome-backgroud{
      .welcome-content{
        .welcome-title{
          font-size: 7.5vw;
        }
        .welcome-buttons{
          flex-direction: column;
          
          .button{
            font-size: 3vw;
            margin-top: 10vw;
            padding: 3vw 1vw;
          }
        }
      }
    }
  }
}
@media (max-width: 440px){
  .welcome{
    .welcome-backgroud{
      .welcome-content{
        .welcome-title{
          font-size: 40px;
        }
        .welcome-buttons{
          margin: 5vw 5vw;
          .button{
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 380px){
  .welcome{
    .welcome-backgroud{
      .welcome-content{
        .welcome-title{
          font-size: 35px;
        }
        .welcome-buttons{
          .button{
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 340px){
  .welcome{
    .welcome-backgroud{
      .welcome-content{
        .welcome-title{
          font-size: 30px;
        }
      }
    }
  }
}