<header class="navigation">
  <nav class="navbar">
    <div class="navbar-list">
      <ul class="list">
        <li class="item"><a href="!#">Sobre nosotros</a></li>
        <li class="item"><a href="!#">Servicios</a></li>
        <li class="item"><a href="!#">Precios</a></li>
        <li class="item"><a href="!#">Contacto</a></li>
      </ul>
      <div class="navbar-menu">
        <img
          src="{{(SliderbarController)?'../../assets/images/close.svg':'../../assets/images/menu.svg'}}"
          alt="navbar-menu"
          
          (click)="ActiveSliderbarMenu()"
        />
      </div>
    </div>
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="logo.svg"  />
    </div>
  </nav>
  <aside
    class="slidebar {{(SliderbarController)?'Active':'Unactive'}}"
  >
    <h2 class="slidebar-title">Menú</h2>
    <ul class="slidebar-list">
      <li class="item"><a href="!#">Sobre nosotros</a></li>
      <li class="item"><a href="!#">Servicios</a></li>
      <li class="item"><a href="!#">Precios</a></li>
      <li class="item"><a href="!#">Contacto</a></li>
    </ul>
  </aside>
</header>
