<header class="navigation">
  <nav class="navbar">
    <div class="navbar-list">
      <ul class="list">
        <li class="item"><a href="!#">Sobre nosotros</a></li>
        <li class="item"><a href="!#">Servicios</a></li>
        <li class="item"><a href="!#">Precios</a></li>
        <li class="item"><a href="!#">Contacto</a></li>
      </ul>
      <img
        src="../../assets/images/menu.svg"
        alt="navbar-menu"
        class="navbar-menu"
      />
    </div>
    <img src="../../assets/images/logo.svg" alt="logo.svg" class="logo" />
  </nav>
  <aside
    class="slidebar"
    [ngClass]="{ 'slidebar-active': SliderbarController }"
  >
    <h2 class="slidebar-title">Menú</h2>
    <ul class="slidebar-list">
      <li class="item"><a href="!#">Sobre nosotros</a></li>
      <li class="item"><a href="!#">Servicios</a></li>
      <li class="item"><a href="!#">Precios</a></li>
      <li class="item"><a href="!#">Contacto</a></li>
    </ul>
  </aside>
</header>
