@import "../../varibles.scss";

/***************************/
.navigation {
  overflow: hidden;
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  z-index: 9999999;
  .navbar {
    overflow: hidden;
    .navbar-list {
      padding: 0 10px;
      display: flex;
      background-color: black;
      justify-content: flex-end;
      height: 3.5rem;
      align-items: center;
      .list {
        .item {
          a {
            color: $primary;
          }
        }
      }
      .navbar-menu {
        display: none;
        width: 10vw;
        img {
          width: 100%;
        }
      }
    }
    .logo {
      z-index: 99999999;
      position: fixed;
      top: 1%;
      left: 5.5%;
      width: 5vw;
      img {
        width: 100%;
      }
    }
  }
  .slidebar {
    background-color: black;
    position: fixed !important;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    transition: 0.9s;
    width: 50%;
    z-index: 9999;
    .slidebar-title {
      color: $white;
      line-height: 2.5em;
      text-align: center;
      font-size: 10vw;
    }
    .slidebar-list {
      line-height: 12vw;
      text-align: center;
      .item {
        font-size: 4.5vw;
        a {
          color: $primary;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      .item:hover {
        background-color: $primary;
        a {
          color: $white;
        }
      }
    }
  }
  .Active {
    right: 0 !important;
  }
  .Unactive {
    right: -100% !important;
  }
}

@media (max-width: 1050px) {
  .navigation {
    .navbar {
      .logo {
        height: 8em;
        width: 4em;
      }
    }
  }
}
@media (max-width: 700px) {
  .navigation {
    .navbar {
      .logo {
        height: 6em;
        width: 3em;
      }
    }
  }
}
@media (max-width: $layout-slidebar) {
  .navigation {
    .navbar {
      .navbar-list {
        padding: 5px 10px;
        .list {
          display: none;
        }
        .navbar-menu {
          display: block;
          height: 1.4em;
          width: 1.4em;
        }
      }
    }
    .slidebar {
      width: 100%;
      .slidebar-title {
        font-size: 5ch;
      }
      .slidebar-list {
        .item {
          font-size: 2ch;
          line-height: 5em;
        }
      }
    }
    .slidebar {
      display: flex;
    }
    .slidebar-active {
      right: 0;
    }
  }
}
