<section class="services">
    <h1 class="title">- Servicios -</h1>
    <div class="services-carousel">
        <div class="card">
            <div class="header">
                <div class="card-icon">
                    <img src="../../assets/images/cambio-de-divisas.svg" alt="Card - Icon">
                </div>
                <h6 class="card-title">Compra / Vende con Wallet</h6>
            </div>
            <div class="content">
                <p class="description">
                    Ingrese la dirección del destinatario, especifique el monto y envíe
                </p>
            </div>
        </div>
    </div>
</section>