
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$smartcontract-test-primary: mat.define-palette(mat.$indigo-palette);
$smartcontract-test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$smartcontract-test-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$smartcontract-test-theme: mat.define-light-theme((
  color: (
    primary: $smartcontract-test-primary,
    accent: $smartcontract-test-accent,
    warn: $smartcontract-test-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($smartcontract-test-theme);

@import "./varibles.scss";

body{
  background:#000000;
}

* {
  padding: 0;
  margin: 0;
  font-family: $font-text;
}
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
button {
  cursor: pointer;
  font-size: 2ch;
  border-radius: 3vw;
  display: block;
  box-shadow: $primary 0 0 15px 2px;
  border: none;
  background-color: white;
  padding: 2ch 6ch;
  text-transform: uppercase;
  font-weight: bold;
}
/******************************/
.title{
  vertical-align: text-top;
  text-align: end;
  color: $primary;
  text-transform: uppercase;
  font-size: 6vw;
  span{
      color: white;
  }
}
@media (max-width: $layout-slidebar){
  .title{
    text-align: center;
    font-size: 7vw;
}
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
