/*COLORS*/
$primary: #f3cb1b;
$light-primary: #8F804A;
$white: #f5f5f5;
$red: #B6161A;
/*FONTS*/
$font-text: "KoHo", sans-serif;
/*LAYOUTS*/
$layout-slidebar: 560px;
/*VALUES*/
$section-padding: 5vw;
/*STYLES*/
