<section class="cryptoland">
    <div class="cryptoland-container">
        <div class="text">
            <h1 class="title">- Tema de <span>Cryptoland</span> -<br><span class="diferent">es lo mejor para tu ICO</span></h1>
            <p class="paragraph">Gaste peleas reales efectivas cualquier cosa extra liderando. Apetitoso liderazgo sobre cómo la fórmula real también se ha encerrado en el pensamiento de la montaña. Rebajas jumbo más brillo.</p>
        </div>
        <div class="video">
            <div class="image">
                <div class="play-button">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
</section>